#main, h1, hr {
  color: #3A523A;
  text-align: center;
}

hr {
  width: 80%;
}


table, th, td {
    border: 1px solid black;
    border-radius: 1px;
}

#main {
    position: relative;
    width: 100%;
}
#stats {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 240px;
}
#main {
    position: relative;
    margin-left: 250px;
}